@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Display", sans-serif;
}

:root {
  --background: #efefef;
  --font-family: "Plus Jakarta Display", sans-serif;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  top: 0;
  overflow-x: hidden;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: "Plus Jakarta Display", sans-serif;
}
